{% extends 'paginas/modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}
<h3>
    Lista de Atividades registrados
    <a href="{% url 'cadastrar-atividade' %}" class="btn btn-primary btn-sm float-right">Adicionar atividade</a>
</h3>

<hr>
<div class="table-responsive">
    <table class="table table-striped" id="tabela-listar">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Número</th>
                <th>Descrição</th>
                <th>Pontuação</th>
                <th>Detalhe</th>
                <th>Opções</th>
            </tr>
        </thead>

        <tbody>
            {% for atividade in object_list %}
            <tr>
                <td>{{ atividade.campo.nome }}</td>
                <td>{{ atividade.numero }}</td>
                <td>{{ atividade.descricao }}</td>
                <td>{{ atividade.pontos }}</td>
                <td>{{ atividade.detalhes }}</td>
                <td>
                    <a href="{% url 'editar-atividade' atividade.pk %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'excluir-atividade' atividade.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhuma atividade registrado.</td>
            </tr>
            {% endfor %}
        </tbody>
            
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function(){

        $("#tabela-listar").DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
                "infoFiltered": "(filtrado de _MAX_ registos no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registos",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });

    });

</script>
{% endblock %}