{% extends 'paginas/modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}
<h3>
    Lista de Estados registrados
</h3>

<hr>

<form action="?" method="GET">

    <input type="text" name="nome" id="" value="{{ request.GET.nome }}" class="p-1 border" autocomplete="off" placeholder="Nome ou parte dele">

    <button type="submit" class="btn btn-success">Buscar</button>

    <a href="{% url 'listar-cidade' %}" class="btn btn-light">Limpar</a>

</form>

<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Opções</th>
        </tr>
    
        {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.nome }}</td>
            <td>{{ object.estado }}</td>
            <td>
                <a href="" class="btn btn-warning btn-sm" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="" class="btn btn-danger btn-sm" title="Excluir">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma cidade registrada.</td>
        </tr>
        {% endfor %}
    
    </table>

    <ul class="pagination justify-content-center">
    
        {% if page_obj.has_previous %}

            {% if request.GET.nome %}
            <li class="page-item"><a class="page-link" href="?page=1&nome={{request.GET.nome}}">&laquo; Primeira</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{request.GET.nome}}">Anterior</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %}

        {% endif %}
    
        <li class="page-item">
            <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
        </li>
    
        {% if page_obj.has_next %}
            {% if request.GET.nome %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{request.GET.nome}}">Próxima</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome={{request.GET.nome}}">Última &raquo;</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
            {% endif %}
        {% endif %}
    
    </ul>
    
</div>
{% endblock %}