{% extends 'paginas/modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}
<h3>
    Lista de progressões registradas
    <a href="{% url 'cadastrar-progressao' %}" class="btn btn-primary btn-sm float-right">Adicionar progressão</a>
</h3>

<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Classe</th>
            <th>Data inicial</th>
            <th>Data final</th>
            <th>Usuário</th>
            <th>Opções</th>
        </tr>
    
        {% for object in object_list %}
        <tr>
            <td>{{ object.classe }}</td>
            <td>{{ object.data_inicial }}</td>
            <td>{{ object.data_final }}</td>
            <td>{{ object.usuario }}</td>
            <td>
                <a href="{% url 'editar-progressao' object.pk %}" class="btn btn-warning btn-sm" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="{% url 'excluir-progressao' object.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma progressão registrada.</td>
        </tr>
        {% endfor %}
    
    </table>
</div>
{% endblock %}