{% extends 'paginas/modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}
<h3>
    Lista de situações registradas
    <a href="{% url 'cadastrar-situacao' %}" class="btn btn-primary btn-sm float-right">Adicionar situação</a>
</h3>

<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Status</th>
            <th>Movimentado em</th>
            <th>Movimentado por</th>
            <th>Opções</th>
        </tr>
    
        {% for object in object_list %}
        <tr>
            <td>{{ object.status }}</td>
            <td>{{ object.movimentado_em }}</td>
            <td>{{ object.movimentado_por }}</td>
            <td>
                <a href="{% url 'editar-situacao' object.pk %}" class="btn btn-warning btn-sm" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="{% url 'excluir-situacao' object.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma situação registrada.</td>
        </tr>
        {% endfor %}
    
    </table>
</div>
{% endblock %}